h1{
    color: gray ;
}
h2{
    color:hotpink;
    font-size: 30px;
    background-color: ghostwhite;
}
header{
    display: flex;
    justify-content: space-between;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .parent{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 78, 128);
  }
  .child{
    height: 100px;
    width: 100px;
    background-color: brown;
  }